<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tech Update Portal{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/python/">Python</a>
        <a href="/programming/">Programming</a>
        <a href="/news">Tech News</a>
    </nav>

    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
