{% extends "base.html" %}

{% block title %}Programming Articles{% endblock %}

{% block content %}
    <div class="news-container">
        <h1>Latest Programming Articles</h1>
        {% for article in programming_articles %}
            <div class="news-item">
                <h2><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></h2>
                {% if article.cover_image %}
                <img src="{{ article.cover_image }}" alt="Article Image" width="300">
                {% endif %}
                <p><strong>Published:</strong> {{ article.published_at }}</p>
            </div>
        {% else %}
            <p>No articles available at the moment</p>
        {% endfor %}
    </div>
{% endblock %}